<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="#!">이용약관</a></li>
          <li><a class="white-text" href="#!">개인정보처리방침</a></li>
          <li><a class="white-text" href="#!">채용정보</a></li>
          <li><a class="white-text" href="#!">사장님</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text"></h5>
        <ul>
          <li><a class="white-text" href="#!">입점 문의</a></li>
          <li><a class="white-text" href="#!">공지사항</a></li>
          <li><a class="white-text" href="#!">제휴문의</a></li>
          <li><a class="white-text" href="#!">고객센터</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>