#products{
    border-style:solid;
    border-width:1px;
    border-color: rgba(0,0,0,0.09);
    margin-left:5px;
    margin-right:5px;
    margin-bottom:50px;
    padding : 10px;
}


#products_text{
    text-align : center;
}

#upload_image{
    margin-bottom:50px;
}
#sub_title_text{
    margin-left:10px;
}