<div class="section">
  <div class="row" style="border-style:solid; border-width:1px; border-color: rgba(0,0,0,0.09);">
    <div class="col s12">
      <div class="icon-block" >
        <h6>Add listing</h6>
        <h6 class="center"><i class="material-icons">새 제휴샵을 게시하려면 로그인 해야합니다.</i></h6>
        <br>
        <div class="center" style="margin-bottom:30px;">
          <a class="waves-effect waves-light btn " id="login" (click)="openLogin()">로그인</a>
          <span style="margin-left:10px;margin-right:10px;">/</span>
          <a class="waves-effect waves-light btn " id="login" (click)="openSign()">회원가입</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-shop-explanation></app-shop-explanation>